# 1. Perkenalan

Nama    : Muhammad Fiqih Al-ayubi
Konteks : SQL Case

# 2. Import Libraries

In [123]:
import pandas as pd
import duckdb
from sqlalchemy import create_engine

# 3. Query Transaction

BEGIN;

DROP TABLE IF EXISTS ecommerce; 

CREATE TABLE IF NOT EXISTS ecommerce(
	fullVisitorId NUMERIC,
	channelGrouping VARCHAR(50),
	country VARCHAR(50),
	totalTransactionRevenue FLOAT,
	transactions FLOAT,
	timeOnSite FLOAT,
	pageviews FLOAT,
	sessionQualityDim FLOAT,
	productRefundAmount INT,
	productQuantity FLOAT,
	productRevenue FLOAT,
	v2ProductName VARCHAR(100)
);

COPY ecommerce(fullVisitorId,
	channelGrouping,
	country,
	totalTransactionRevenue,
	transactions,
	timeOnSite,
	pageviews,
	sessionQualityDim,
	productRefundAmount,
	productQuantity,
	productRevenue,
	v2ProductName)
FROM 'C:\Users\Fiqih\AppData\Local\Temp\eccomerce.csv'
DELIMITER ','
CSV HEADER;

-- ROLLBACK;
COMMIT;

# 4. Load Dataset

In [124]:
# Membuat koneksi ke database postgre
engine = create_engine('postgresql://postgres:postgres@localhost/ntx_test')

In [125]:
# Cek data
pd.read_sql('select * from ecommerce', engine)

,fullvisitorid,channelgrouping,country,totaltransactionrevenue,transactions,timeonsite,pageviews,sessionqualitydim,productrefundamount,productquantity,productrevenue,v2productname
0,2.515546e+18,Organic Search,Taiwan,NaN,NaN,1567.0,82.0,17.0,None,NaN,None,Suitcase Organizer Cubes
1,9.361742e+18,Organic Search,France,NaN,NaN,321.0,8.0,NaN,None,NaN,None,26 oz Double Wall Insulated Bottle
2,7.313829e+18,Referral,United States,NaN,NaN,927.0,11.0,63.0,None,NaN,None,Metal Texture Roller Pen
3,6.036794e+18,Organic Search,United States,NaN,NaN,1616.0,13.0,38.0,None,NaN,None,Metal Texture Roller Pen
4,7.847281e+18,Organic Search,Canada,NaN,NaN,1222.0,45.0,53.0,None,NaN,None,Metal Texture Roller Pen
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,8.518740e+18,Referral,United States,NaN,NaN,561.0,18.0,NaN,None,NaN,None,Sport Bag
9996,1.592171e+18,Organic Search,Colombia,NaN,NaN,365.0,7.0,NaN,None,NaN,None,Sport Bag
9997,6.776943e+18,Affiliates,Israel,NaN,NaN,107.0,7.0,NaN,None,NaN,None,Sport Bag
9998,3.008083e+18,Organic Search,Canada,NaN,NaN,93.0,11.0,NaN,None,NaN,None,Sport Bag
9999,4.307805e+18,Organic Search,United States,NaN,NaN,455.0,21.0,NaN,None,NaN,None,Sport Bag

Dari dataset di atas kita dapat melihat beberapa kolom memiliki banyak missing values

# 5. Test Case

### 1. Channel Analysis
Buatlah query SQL untuk memastikan total revenue yang dihasilkan dari setiap channel pada 5 negara teratas dengan total revenue tertinggi.

In [147]:
# Query SQL
pd.read_sql('''
with top_countries as (
    select
        sum(coalesce(totaltransactionrevenue, 0)) as total_revenue,
        country
    from 
        ecommerce
    group by
        country
    order by
        total_revenue DESC
    limit 5
)
select 
    e.channelgrouping,
    sum(coalesce(e.totaltransactionrevenue, 0)) as revenue_by_channel
from
    ecommerce as e
inner join
    top_countries as c
on
    e.country = c.country
group by
    e.channelgrouping
order by
    revenue_by_channel desc;
''', engine)

  channelgrouping  revenue_by_channel
0        Referral        5.996810e+10
1  Organic Search        4.232407e+10
2          Direct        1.418904e+10
3         Display        8.497860e+09
4     Paid Search        4.190910e+09
5          Social        4.646600e+08
6         (Other)        0.000000e+00
7      Affiliates        0.000000e+00

In [127]:
# Query untuk menampilkan 5 negara penyumbang revenue terbesar
pd.read_sql('''
    select
        sum(coalesce(totaltransactionrevenue, 0)) as total_revenue,
        country
    from 
        ecommerce
    group by
        country
    order by
        total_revenue DESC
    limit 5
''', engine)

   total_revenue        country
0   1.104420e+11  United States
1   1.004466e+10      Venezuela
2   8.142560e+09         Canada
3   7.971000e+08         Taiwan
4   2.083300e+08        Curaçao

Dari table hasil querry di atas kita dapat mengambil insights :
1. Total revenue tertinggi didapatkan dari channel Referal. Hal ini mengindikasikan jika kegiatan marketing dalam membuat iklan di situs lain cukup efektif dalam menarik minat user yang berasal dari 5 negara penyumbang revenue terbesar (United States, Venezuela, Canada, Taiwan, dan Curacao)
2. Tingginya nilai revenue pada channel Organic Search dan Direct dapat mengindikasikan jika produk yang dijual pada platform ini cukup kompetitif jika dibandingkan dengan platform lain. Selain itu, tingginya nilai revenue pada kedua saluran tersebut (terutama Direct) juga mengindikasikan jika platform ini sudah cukup dikenal oleh user dari United States, Venezuela, Canada, Taiwan, dan Curacao
3. Terdapat nilai 0 pada chanel Affiliate dan channel lainnya (diwakili oleh others) kemungkinan hal ini terjadi karena data yang digunakan belum cukup banyak untuk mendapatkan record revenue dari channel - channel tersebut

### 2. User Behavior Analysis
Dapatkan insight mengenai user behavior. Hitung metrik rata-rata timeonSite, rata-rata pageviews, dan rata-rata sessionQualityDim untuk setiap fullVisitorId. Identifikasi pengguna yang menghabiskan waktu di atas rata-rata di situs tetapi melihat lebih sedikit page dibandingkan user rata-rata

In [150]:
# Query SQL
pd.read_sql('''
select 
    fullvisitorid,
    avg(coalesce(timeonsite, 0)/60) as avg_timeonsite,
    avg(coalesce(pageviews,0)) as avg_pageviews,
    avg(coalesce(sessionqualitydim, 0)) as avg_sessionqualitydim
from 
    ecommerce
group by 
    fullvisitorid
having 
    avg(coalesce(timeonsite, 0)/60) > (
        select 
            avg(coalesce(timeonsite, 0)/60) 
        from 
            ecommerce
    )
    and avg(coalesce(pageviews,0)) < (
        select 
            avg(coalesce(pageviews,0)) 
        from 
            ecommerce
    )
order by 
    avg_timeonsite desc;

''', engine).head(20)

    fullvisitorid  avg_timeonsite  avg_pageviews  avg_sessionqualitydim
0    1.774578e+18       85.333333           21.0                    0.0
1    4.228303e+17       65.283333           14.0                    0.0
2    4.512939e+18       60.033333           17.0                    0.0
3    4.300483e+18       58.416667           21.0                    0.0
4    2.105997e+18       50.166667           21.0                    0.0
5    9.221873e+18       49.450000           22.0                    0.0
6    5.143601e+18       49.183333           11.0                    0.0
7    1.058326e+18       47.883333           15.0                    0.0
8    8.658565e+18       45.150000           21.0                    0.0
9    5.760142e+18       45.000000           19.0                    0.0
10   1.911526e+18       44.150000           17.0                    0.0
11   5.703393e+18       43.950000           15.0                    0.0
12   1.812257e+18       42.850000            9.0                    0.0
13   4.265744e+18       41.716667           12.0                    0.0
14   8.872935e+18       39.850000           22.0                    0.0
15   8.736930e+18       39.833333           11.0                    0.0
16   1.748979e+18       39.400000           22.0                    0.0
17   3.065909e+17       38.800000            8.0                    0.0
18   1.243138e+17       38.333333           14.0                    0.0
19   1.095162e+18       38.150000           22.0                    0.0

In [136]:
pd.read_sql('''
        select 
            avg(timeonsite)/60 as global_average_timeonsite,
            avg(pageviews) as global_average_pageviews
        from
            ecommerce
        ''', engine)

   global_average_timeonsite  global_average_pageviews
0                  12.001987                 22.142114

### 3. Product Performance
Memahami performance setiap produk dengan cara membuat query dengan requirement sebagai berikut :
1. Menghitung total revenue yang dihasilkan setiap produk (v2ProductName)
2. Menentukan total quantity produk yang terjual
3. Menghitung total nilai refund dari masing - masing produk
4. Mengurutkan produk berdasarkan net revenuenya (total revenue dikurangi total refund) dalam urutan descending. Tandai produk yang memiliki total refund melebihi 10% dari total revenuenya

In [153]:
# Query SQL
pd.read_sql('''
select
    v2productname,
    sum(coalesce(productrevenue,0)) as total_revenue,
    sum(coalesce(productquantity,0)) as total_quantity,
    sum(coalesce(productrefundamount,0)) as total_refund,
    (sum(coalesce(productrevenue,0)) - sum(coalesce(productrefundamount,0))) as net_revenue,
    case 
        when 
            sum(coalesce(productrefundamount,0)) > 0.1 * sum(coalesce(productrevenue,0)) then 'Yes'
        else 
            'No'
    end as flagged
from
    ecommerce
group by
    v2productname
order by
    net_revenue desc
''', engine).head(20)

,v2productname,total_revenue,total_quantity,total_refund,net_revenue,flagged
0,Foam Can and Bottle Cooler,0.0,0.0,0,0.0,No
1,Latitudes Foldaway Shopper,0.0,1.0,0,0.0,No
2,Crunch Noise Dog Toy,0.0,0.0,0,0.0,No
3,Switch Tone Color Crayon Pen,0.0,0.0,0,0.0,No
4,25L Classic Rucksack,0.0,0.0,0,0.0,No
5,Google Collapsible Pet Bowl,0.0,3.0,0,0.0,No
6,Softsided Travel Pouch Set,0.0,0.0,0,0.0,No
7,Google Men's 100% Cotton Short Sleeve Hero Tee...,0.0,0.0,0,0.0,No
8,Google Pet Feeding Mat,0.0,1.0,0,0.0,No
9,Google Men's 100% Cotton Short Sleeve Hero Tee...,0.0,0.0,0,0.0,No
10,Google Laptop and Cell Phone Stickers,0.0,0.0,0,0.0,No
11,Google Spiral Leather Journal,0.0,0.0,0,0.0,No
12,Maze Pen,0.0,0.0,0,0.0,No
13,Speed Zone Air Mesh Tote,0.0,5.0,0,0.0,No
14,Google Women's 1/4 Zip Jacket Charcoal,0.0,0.0,0,0.0,No
15,Google Men's 100% Cotton Short Sleeve Hero Tee...,0.0,0.0,0,0.0,No
16,Google Men's Zip Hoodie,0.0,0.0,0,0.0,No
17,Fashion Sunglasses & Pouch,0.0,2.0,0,0.0,No
18,Nest® Cam Outdoor Security Camera - USA,0.0,0.0,0,0.0,No
19,Large Zipper Top Tote Bag,0.0,0.0,0,0.0,No